/* NEWSFEED SECTION */
/* Newsfeed block */
#newsfeed {
    background-color: rgba(120,147,131,.9);
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* Newsfeed header */
#newsfeed h1 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
    color: #47657F;
    text-shadow: 2px 2px #DCDBD9;
}

/* Newsfeed article section */
.article_section {
    display: block;
    padding: 10px;
    background-color: #DCDBD9;
    margin: 20px;
    border: solid #769484 3px;
    color: rgba(42, 89, 19, .6);
}

/* Newsfeed space between articles */
.articleItem {
    padding: 20px;
}

/* Newsfeed format for url */
.article_url {
    font-size: .8em;
    color: blue;
    text-decoration: none;
}

/* Newsfeed rating format */
.article_rating {
    color: darkgreen;
    float: right;
    background-color:rgba(0, 128, 0, 0.733);
    margin-top: -10px;
    font-size: .85em;
    padding: 5px;
    width: 80px;
    border-radius: 40px;
    border: solid darkgreen 2px;
}

/* Newsfeed additional format for high rating */
.rating_high {
    color: firebrick;
    background-color: tomato;
    margin-left: 5px;
    border: solid darkred 2px;
}

.section_high {
    background-color: rgba(255,99,71,.6) ;
}

/* Newsfeed additional format for medium rating */
.rating_medium {
    color: goldenrod;
    background-color: yellow;
    margin-left: 5px;
    border: solid goldenrod 2px;
}

/* Newsfeed format for article descriptions */
.article_description {
    text-align: left;
    margin-left: 10px;
}

/* Newsfeed details on bottom of each article */
.article_info {
    display: block;
    font-size: .7em;
    color: #DCDBD9;
    background-color: #47657F;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}


.tinted-image {
    background:
      /* top, transparent green with gradient */
      linear-gradient(
            rgba(42, 89, 19, .35),
            rgba(42, 89, 19, .35)
      ),
      /* bottom, image */
      url(https://media.scmagazine.com/images/2015/09/30/snowden_842596.jpg);
  }
