
body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px;
        background-color: #c0c8d6;
        text-align: center;
}


img {
        border: solid 10px;
        border-radius: 50%;
        margin: 20px 20px;
        width: 300px;
}

.box {
        background-color: #e3e7ed;
        width: 70%;
        text-align: center;
        margin: auto;
        padding: 5px;
        /*border: solid 7px;*/
}

.navbar {
        margin: auto;
        display: block;
        background-color: black;
}

.navLinks {
        margin: 20px;
        display: inline-flex;
        color: white;
        text-decoration: none;
}

#mug {
        padding: 10px;
       /* text-align: center;*/
}

.list {
        list-style-type: none;
        margin: auto;
}


/* NEWSFEED */

#newsfeed {
        background-color: #9AA9A2;
        width: 70%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
}

#newsfeed h1 {
        text-align: center;
        padding-top: 10px;
}

.article_section {
        display: block;
        padding: 10px;
        background-color: #DCDBD9;
        margin: 20px;
        border: solid #769484 3px;
}

.articleItem {
        padding: 10px;
}

.article_url {
        font-size: .8em;
        color: blue;
        text-decoration: none;
}

.article_rating {
        color: darkgreen;
        float: right;
        background-color:rgba(0, 128, 0, 0.733);
        margin-top: -10px;
        font-size: .85em;
        padding: 5px;
        width: 80px;
        border-radius: 40px;
}

.rating_high {
        color: firebrick;
        background-color: tomato;
        margin-left: 5px;
}

.rating_medium {
        color: goldenrod;
        background-color: yellow;
        margin-left: 5px;
}

.article_description {
        text-align: left;
}

.article_info {
        display: block;
        font-size: .6em;
        color: white;
        background-color: gray;
        padding-top: 5px;
        padding-bottom: 5px;
}
/*#eddysnow {
        margin: auto;
        display: flex;
        text-align: center;
}

