
body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px;
        background-color: #c0c8d6;
        text-align: center;    
}


img {
        border: solid 10px; 
        border-radius: 50%;
        margin: 20px 20px;
        width: 300px;     
}

.box {
        background-color: #e3e7ed;
        width: 70%;
        text-align: center;
        margin: auto;
        padding: 5px;
        /*border: solid 7px;*/
}

.navbar {
        margin: auto;
        display: block;
        background-color: black;
}

.navLinks {
        margin: 20px;
        display: inline-flex;
        color: white;
        text-decoration: none;
}

#mug {
        padding: 10px;
       /* text-align: center;*/        
}

.list { 
        list-style-type: none;
        margin: auto;      
}


/* NEWSFEED */

#newsfeed {
        background-color: #9AA9A2;
}

#newsfeed h1 {
        text-align: center;
        padding-top: 10px;
}

.article_section {
        display: block;
        padding: 10px;
        background-color: #DCDBD9;
        margin: 20px;
        border: solid #769484 3px;
}

.articleItem {
        padding: 10px;
}




/*#eddysnow {
        margin: auto;
        display: flex;
        text-align: center;
}

